
<% let questions = quiz.questions %>
<div>
  <% questions.forEach((question, index) => { %>
    <%= question.content %>
    <pre class="lang-js">
        <code><%=question.code_snippet %></code>
    </pre>
 
      <div>
        <p class="answerContent">
            <button
              class="answerChoice"
              data-question="<%= index %>"
              data-answer="<%= question.choices[0].isAnswer %>"
              onclick="onButtonClick(this)"
            >
             A
            </button>

        <%= JSON.stringify(question.choices[0].text) %>

        </p>

        <p class="answerContent">
            <button
            data-question="<%= index %>"
              data-answer="<%= question.choices[1].isAnswer %>"
              onclick="onButtonClick(this)"
              class="answerChoice"
            >
              B
            </button>
            <%= JSON.stringify(question.choices[1].text) %>
        </p>

        <p class="answerContent">
            <button
            data-question="<%= index %>"
            data-answer="<%= question.choices[2].isAnswer %>"
            onclick="onButtonClick(this)"
            class="answerChoice">C</button>
            <%= JSON.stringify(question.choices[2].text) %>
        </p>

        <p class="answerContent">
            <button
            data-question="<%= index %>"
            data-answer="<%= question.choices[3].isAnswer %>"
            onclick="onButtonClick(this)"
            class="answerChoice">D</button>
            <%= JSON.stringify(question.choices[3].text) %>
        </p>

        <p class="answerContent">
            <button
            data-question="<%= index %>"
            data-answer="<%= question.choices[4].isAnswer %>"
            onclick="onButtonClick(this)"
            class="answerChoice">E</button>
            <%= JSON.stringify(question.choices[4].text) %>
        </p>
        
      </div>
  <% }) %>

</div>
    
