<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Quizzes</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="/styles/quiz.css">

    </head>
    <body>
    <%- include('../partials/navbar') %>
    <h1>Quiz Options</h1>

        <div class="sidebar">
            <div class="dropdown">
                <button class="dropbtn">Sort By</button>
                <div id="dropdown-content">
                    <li>
                        <a href="/difficultyasc">Difficulty</a>
                        <a class="fas fa-sort-numeric-up" href="/difficultyasc"></a>
                    </li>
                    <li>
                        <a href="/difficulty">Difficulty</a>
                        <a class="fas fa-sort-numeric-down"href="/difficulty">   </a>
                    </li>
                    <li>
                        <a href="/lengthasc">Length</a>
                        <a class="fas fa-sort-amount-up" href="/lengthasc"></a>
                    </li>
                    <li>
                        <a href="/length">Length</a>
                        <a class="fas fa-sort-amount-down" href="/length"></a>
                    </li>
                </div>
            </div>
        </div>

    <section class="gallery-block cards-gallery"> 
        <div class="container">
            <div class="heading">
                <h6>No. Available Quizzes: 
                    <%= quizzes.length %> </h6>
            </div>
        <div class="row">
                <% quizzes.forEach((quiz) => { %>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a href="/quiz/<%=quiz.id%>"><h2 id="quizName"><%= quiz.name %></h2></a>
                    <div class="card-body">
                        <p class="text-muted card-text"> 
                            Difficulty: <%= quiz.difficulty %><br>
                            Question Count: <%= quiz.question_count %><br>
                        </p>
                    </div>
                </div>
            </div>
            <% })%>
            
	        </div>
		</div>
		
	</section>



    <script src="/quizzes.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    </body>
</html> 