<%- include('../partials/navbar') %>
<title>Edit User</title>

<body>
<div class="container" id="input-form">
        <h2>Edit Contract</h2>

    <form method="POST" action="/edit_user/<%=users[0].id %>?_method=patch">
        <div class="form-group">
            <label for="name">User's name</label>
            <input 
                name="name" 
                type="text" 
                class="form-control" 
                id="name" 
                placeholder="Name" 
                value="<%= users[0].name %>"
            >
        </div>    

        <div class="form-group">
            <label for="email">User Email</label>
            <input 
                name="email" 
                type="email" 
                class="form-control" 
                id="email" 
                placeholder="Email" 
                value="<%= users[0].email%>"
            >
        </div>

        <div class="form-group">
            <label for="password">User Password</label>
            <input 
                name="password" 
                type="text" 
                class="form-control" 
                id="password" 
                placeholder="Password" 
                value="<%= users[0].password %>"
            >
        </div>


        <div class="clearfix"></div>

        <button 
            type="submit" 
            class="btn btn-info btn-lg btn-responsive" 
            id="search"
        > <span class="glyphicon glyphicon-search"></span> Apply Changes</button>
    
    </form>
</div>

</body>
</html>